<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Hackathon_MongoOrderTransactions>
            <version>0.0.1</version>
        </Hackathon_MongoOrderTransactions>
    </modules>
    <global>
        <models>
            <hackathon_ordertransaction>
                <class>Hackathon_MongoOrderTransactions_Model</class>
                <resourceModel>hackathon_ordertransaction_resource</resourceModel>
            </hackathon_ordertransaction>
            <hackathon_ordertransaction_resource>
                <class>Hackathon_MongoOrderTransactions_Model_Resource</class>
                <entities>
                    <order_seq><table>hackathon_ordertransaction_seq</table></order_seq>
                </entities>
            </hackathon_ordertransaction_resource>
            <sales>
                <rewrite>
                    <order>Hackathon_MongoOrderTransactions_Model_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <hackathon_ordertransaction>
                <class>Hackathon_MongoOrderTransactions_Helper</class>
            </hackathon_ordertransaction>
        </helpers>
        <resources>
            <hackathon_ordertransaction_setup>
                <setup>
                    <module>Hackathon_MongoOrderTransactions</module>
                </setup>
            </hackathon_ordertransaction_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <updateStockInMongoEvent>
                        <class>hackathon_ordertransaction/observer</class>
                        <method>checkoutCartProductAddAfter</method>
                        <type>singleton</type>
                    </updateStockInMongoEvent>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </frontend>
    <default>
        <mongotransaction>
            <db>ordertransactions</db>
        </mongotransaction>
    </default>
</config>