<?xml version="1.0" encoding="UTF-8"?>
<config>
    <global>
        <models>
            <hackathon_ordertransaction>
                <class>Hackathon_MongoOrderTransactions_Model</class>
                <resourceModel>hackathon_ordertransaction_resource</resourceModel>
            </hackathon_ordertransaction>
            <hackathon_ordertransaction_resource>
                <class>Hackathon_MongoOrderTransactions_Model_Resource</class>
                <entities>
                    <order><table>hackathon_ordertransaction_order</table></order>
                </entities>
            </hackathon_ordertransaction_resource>
            <sales>
                <rewrite>
                    <service_quote>Hackathon_MongoOrderTransactions_Model_Sales_Service_Quote</service_quote>
                </rewrite>
            </sales>
        </models>
    </global>
    <frontend>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <updateStockInMongoEvent>
                        <class>Hackathon_MongoOrderTransactions_Model_Observer</class>
                        <method>checkoutCartProductAddAfter</method>
                        <type>singleton</type>
                    </updateStockInMongoEvent>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </frontend>
    <default>
        <mongotransaction>
            <db>ordertransactions</db>
        </mongotransaction>
    </default>
</config>